.env
*.local
helpdesk_logs/
*.log

task_tracker_backend/data/*.mv.db
task_tracker_backend/data/*.trace.db

**/target/
*.class

.idea/
.vscode/
*.iml

task_tracker_frontend/node_modules/
task_tracker_frontend/build/

.DS_Store
Thumbs.db


