
body {
    background: #ffffff;
    color: #190726;
    font-family: system-ui, sans-serif;
    line-height: 1.5;
}


.card {
    max-width: 600px;
    margin: 0 auto;
}

.custom-card {
    background-color: #f2e9f9;
    color: #190726;
    border-color: #190726;
    border-width: 1px;
    border-radius: 10px;
}

.custom-filter-card {
    color: #190726;
    border-color: #190726;
    background-color: #eff9e9;
    border-width: 2px;
    border-radius: 10px;
}
.btn-primary {
    --bs-btn-bg: #320e4c;
    --bs-btn-color: #f2e9f9;
    --bs-btn-border-color: #320e4c;
    --bs-btn-hover-bg: #190726;
    --bs-btn-hover-border-color: #190726;
    --bs-btn-active-bg: #0c0413;
    --bs-btn-active-border-color: #0c0413;
    font-weight: 500 !important;
}

.form-control {
    border-color: #47636B;
}

.form-control:focus {
    border-color: #190726;
    border-width: 2px;
    box-shadow: 0 0 0 0.2rem rgba(71, 99, 107, 0.25);
}
.form-select {
    border-color: #f2e9f9;
}

.form-select:focus {
    border-color: #f2e9f9;
    border-width: 2px;
    box-shadow: 0 0 0 0.2rem rgba(71, 99, 107, 0.25);
}

